# Dependencies
node_modules/

# Logs
logs/
loggers/
*.log
npm-debug.log*

# Docker files
Dockerfile
.dockerignore
docker-compose*

# Git
.git
.gitignore

# Environment and Config
.env
config/dev.*
config/uat.*
postman_config.json

# Documentation and Assets
*.pdf
*.md
*.png

# Editors
.vscode/
.idea/

# Uploads
public/uploads/*
!public/uploads/.gitkeep
